svg {
  padding-top: 50px;
}

.container-2 {
  padding: 0.25em;
  height: 100vh;
  width: 100vh;
  background-color: #feeafa;
}

.inpplace {
  box-sizing: border-box;

  position: absolute;

  background: #55ccd5;
  mix-blend-mode: normal;
  border: 1px solid #4e5a6d;
}

#elp1 {
  width: 75px;
  height: 75px;
  left: 359px;
  top: 53px;
  border-radius: 50%;
}

#elp2 {
  width: 75px;
  height: 75px;
  left: 455px;
  top: 305px;
  border-radius: 50%;
}

#elp3 {
  width: 75px;
  height: 75px;
  left: 735px;
  top: 315px;
  border-radius: 50%;
}

#elp4 {
  width: 75px;
  height: 75px;
  left: 515px;
  top: 488px;
  border-radius: 50%;
}

#elp5 {
  width: 75px;
  height: 75px;
  left: 600px;
  top: 760px;
  border-radius: 50%;
}

#elp6 {
  width: 75px;
  height: 75px;
  left: 130px;
  top: 760px;
  border-radius: 50%;
}

#elp7 {
  width: 75px;
  height: 75px;
  left: 0px;
  top: 315px;
  border-radius: 50%;
}

#elp8 {
  width: 75px;
  height: 75px;
  left: 265px;
  top: 305px;
  border-radius: 50%;
}

#elp9 {
  width: 75px;
  height: 75px;
  left: 215px;
  top: 488px;
  border-radius: 50%;
}

#elp10 {
  width: 75px;
  height: 75px;
  left: 365px;
  top: 598px;
  border-radius: 50%;
}
